.hero {
  border-radius: 20px;
  border: 2px solid rgba(10, 13, 23, 0.05);
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(190px);
  display: inline-flex;
  padding: 20px;
  align-items: center;
  gap: 30px;
  /* background-color: yellow; */
  height: 576px;
  width: 1092px;
  /* margin-left: 2px; */
  margin-top: 67px;
  color: #fff;
}

.formContainer {
  height: 506px;
  width: 436px;
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 41px;
  background-color: transparent;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.formHeading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  background-color: transparent;
}

.formTitle {
 

  /* H2 */
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.6px;
  width: 426px;
}

.formSubtitle {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.16px;
  width: 415px;
  width: 415px;
}

.formBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  align-self: stretch;
}

.name {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  align-self: stretch;
 
}
.formBody input{
color: white;
}

.fname,
.lname {
  display: flex;
  padding: 12px 14px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.05);
}
.email,
.phone,
.message {
  display: flex;
  padding: 12px 14px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.05);
}

input::placeholder,
.submit {
  color: rgba(255, 255, 255, 0.6);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.15px;
}




.rocketImg {
  width: 20px;
  height: 15px;
  /* transform: rotate(0deg);  */
  /* background: url(<path-to-image>) lightgray -28.242px -3.287px / 649.019% 314.745% no-repeat; */
  mix-blend-mode: screen;
}
.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  height: 536px;
  width: 516px;
  margin: 20px 20px 20px 30px;
}
.imageAstro {
  width: 516px;
  height: 536px;
  border-radius: 12px;
  /* background: linear-gradient(0deg, rgba(10, 13, 23, 0.95) 20.4%, rgba(10, 13, 23, 0.00) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat; */
}
.imageDesc {
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  position: absolute;
  right: 50px;
  bottom: 48px;
}
.imageDescQuote {
  align-self: stretch;
  color: var(--Pure-White, #fff);

  /* Text */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.16px;
  opacity: 0.7;
}
.imageDescAuthor {
  opacity: 0.8;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.16px;
  text-align: center;
}

.connectVia {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  align-self: stretch;
}